<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Contact</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2">
      <a routerLink="create" class="btn btn-sm btn-outline-success">Nouveau contact</a>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-4 mb-3" *ngFor="let item of contacts | async">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">{{item.company}}</h5>
        <p class="card-text">{{item.firstName}} {{item.lastName}}</p>
        <a [routerLink]="['edit', item.id]" class="btn btn-link text-success">visualiser</a>
      </div>
    </div>
  </div>
</div>

