<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Tableau des opportunités</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2">
      <button class="btn btn-sm btn-outline-secondary">
        <i class="fas fa-cog"></i>
      </button>&nbsp;
      <button class="btn btn-sm btn-outline-secondary">
        <i class="fas fa-plus"></i>
      </button>&nbsp;
    </div>
  </div>
</div>

<section class="board_opportunity">

  <div class="board_content">
    <div class="row flex-nowrap">
      <div class="col-4 col-kanban">col</div>
      <div class="col-4 col-kanban">col</div>
      <div class="col-4 col-kanban">col</div>
      <div class="col-4 col-kanban">col</div>
      <div class="col-4 col-kanban">col</div>
      <div class="col-4 col-kanban">col</div>
      <div class="col-4 col-kanban">col</div>
      <div class="col-4 col-kanban">col</div>
      <div class="col-4 col-kanban">col</div>
      <div class="col-4 col-kanban">col</div>
    </div>
  </div>

</section>
