<div class="card shadow-sm mt-2 mb-2" draggable="true">

  <div class="card-header p-0">
    <div class="d-flex flex-row-reverse">
      <div class="block_tool" (click)="redirect('edit')">
        <i class="far fa-eye text-secondary"></i>
      </div>
      <div class="block_tool" (click)="redirect('remove')">
        <i class="fas fa-times text-secondary"></i>
      </div>
    </div>
  </div>

  <div class="card-body">
    <h5 class="card-title">{{item.titre}}</h5>
    <p class="card-text"> montant: {{ item.montant }} </p>
  </div>

  <ng-content></ng-content>

</div>
